/* grandstander, for header */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
/* cafe francoise */
@font-face {
    font-family: "Cafe Francoise";
    src: url("./Assets/cafe_francoise/Cafe_Francoise_D.otf") format("opentype");
}

* {box-sizing: border-box;}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: "Grandstander", serif;
	color: #603913;
	font-size: 4vw;
}

h2 {
	font-family: "Cafe Francoise", serif;
	color: #754C29;
	font-weight: normal;
	font-size: 1.5vw;
}

h3 {
	font-family: "Grandstander", serif;
	color: #603913;
	font-size: 2vw;
	margin-bottom: 2%;
}

p {
	font-family: "Grandstander", serif;
}

button:hover {
	cursor: pointer;
}

button:active {
	cursor: grab;
	transform: translateY(4px);
}

#header {
    flex: 0 0 10%;
    background-color: #754C29;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#menuButtonDiv {
    margin-right: auto;
    width: 75px;
    text-align: center;
    align-content: center;
}

#menuButton {
    background-color: transparent;
    border: none;
    font-family: "Cardboard Cat", sans-serif;
    font-size: 60px;
    line-height: 0.6;
    padding: 0;
    color: white;
    font-weight: bold;
}

#menu {
    display: none;
    flex: 0 0 30%;
    background-color: #603913;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

.menubuttons {
    font-family: "Grandstander", serif;
    font-size: 22px;
    color: white;
    background-color: #AB7A52;
    border-radius: 8px;
    border: hidden;
    width: 130px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#smalllogodiv {
    width: 75px;
    display: inline-block;
    text-align: center;
    align-content: center;
}

#smalllogo {
    height: 50px;
}

#headerbuttonsdiv {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.headerbuttons {
    display: none;
}


.main {
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("./Assets/cardboard.webp");
	background-size: cover;
	background-repeat: repeat-y;
	padding: 5%;
	padding-top: 2%;
	z-index: 0;
}

a {
	margin-top: 10%;
	font-family: "Cafe Francoise", sans-serif;
	font-size: 150%;
	color: #754C29;
	text-decoration: none;
}

#gameinfo {
	width: 100%;
	margin:0;
	text-align: center;
}

#gamedescription {
	width: 80%;
	margin: auto;
	margin-bottom: 5%;
	font-size: 12px;

}

#gamelogo {
	width: 100%;
	margin: 0;
	margin-top: 3%;
}

#slogan {
	font-size: 28px;
}

#media > * {
	display: none;
}

#trailer {
	width: 95%;
	margin-bottom: 2%;
	align-items: center;
}

#gameimagesdiv > * {
	display: none;
}

#mobileMedia > * {
	width: 90%;
	position: relative;
	margin: auto;
}

.slides {
	display: none;
}

/* .prev, .next {
	cursor: pointer;
	position: absolute;
	width: auto;
	margin-top: -22px;
	margin-bottom: 50px;
	padding-top: 0px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 3px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6 ease;
	border-radius: 0 1px 1px 0;
	user-select: none;
	left: 5%;
} */

.prev, .next {
	cursor: pointer;
	position: static;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

/* .prev {
	border-radius: 3px 0 0 3px;
} */

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: 0.4};
	to {opacity: 1};
}

.gameimage {
	width: 23%;
}

.highlight {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: space-between;
}

.highlighttext h1 {
	margin: 0;
	font-size: 26px;
}

.highlighttext h2 {
	font-size: 12px;
}

.highlightimage {
	width: 100%;
	margin-bottom: 5%;
}

.reqcol ul {
	margin-top: 0;
	font-family: "Grandstander", serif;
	font-size: 2vw;
	color: #754C29;
}

#backtotop {
	margin-top: 2%;
}

#backtotop p, a {
	color: #ce282d;
}

.footer {
	flex: 0 0 5%;
	background-image: url("./Assets/cardboardbottom.png");
}
