/* grandstander, for header */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
/* cafe francoise for message */
@font-face {
    font-family: "Cafe Francoise";
    src: url("../Assets/cafe_francoise/Cafe_Francoise_D.otf") format("opentype");
}


html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

h2 {
	font-size: 350%;
	color: #754C29;
}

p {
	font-family: "Grandstander", serif;
	font-size: 100%;
	color: black;
}

button:hover {
	cursor: pointer;
}

button:active {
	cursor: grab;
	transform: translateY(4px);
}

.header {
	flex: 0 0 10%;
	background-color: #754C29;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#smalllogodiv {
	width: 5%;
	display: flex;
	justify-content: right;
	align-items: right;
}

#smalllogo {
	width: 80%;
}

#headerbuttonsdiv {
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerbuttons {
	font-family: "Grandstander", serif;
	font-size: 2.5vw;
	color: white;
	background-color: #AB7A52;
	border-radius: 8px;
	border: hidden;
	width: 20%;
	height: 75%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	margin-left: 1%;
	margin-right: 1%;
}

.main {
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../Assets/cardboard.png");
	background-size: cover;
	background-repeat: repeat-y;
	padding: 5%;
	padding-top: 0;
	z-index: 0;
}

#messagebox {
	position: relative;
	width: 80vw;
	z-index: 1;
	text-align: center;
}

.message {
	font-family: "Cafe Francoise", sans-serif;
}

#box1, #box2 {
	position: relative;
	width: 80vw;
	height: 20%;
	z-index: 1;
	margin: 3%;
}

#cardboardbox {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
	margin: 0;
	padding: 0;
}

#overlay1, #overlay2 {
	position: absolute;
	top: 0;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.downloadbutton, .surveybutton {
	width: 40vw;
	height: 25vh;
	background-color: #AB7A52;
	color: #603913;
	border: hidden;
	font-family: "Cafe Francoise", serif;
	font-size: 400%;
	border-radius: 8px;
}

.footer {
	flex: 0 0 5%;
	background-image: url("../Assets/cardboardbottom.png");
}
