/* grandstander, for header */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

/* cardboard cat*/
@font-face {
    font-family: "Cardboard Cat";
    src: url("../Assets/cardboard_cat/CardboardCat-Bold.otf") format("opentype");
}
/* cafe francoise */
@font-face {
    font-family: "Cafe Francoise";
    src: url("../Assets/cafe_francoise/Cafe_Francoise_D.otf") format("opentype");
}

#backtotop p, a {
	color: #ce282d;
	font-family: "Cafe Francoise", serif;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

h2 {
	font-size: 350%;
	color: #754C29;
}

p {
	font-family: "Grandstander", serif;
	font-size: 100%;
	color: black;
}

button:hover {
	cursor: pointer;
}

button:active {
	cursor: grab;
	transform: translateY(4px);
}

.header {
	flex: 0 0 10%;
	background-color: #754C29;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

#menuDiv {
	display: none;
}

#smalllogodiv {
	width: 75px;
	display: inline-block;
	text-align: center;
	align-content: center;
}

#smalllogo {
	height: 50px;
}

#headerbuttonsdiv {
	display: inline-block;
	justify-content: left;
	align-content: center;
}

.headerbuttons {
	font-family: "Grandstander", serif;
	font-size: 22px;
	color: white;
	background-color: #AB7A52;
	border-radius: 8px;
	border: hidden;
	width: 120px;
	height: 70%;
	padding-top: 1%;
	padding-bottom: 0.7%;
	margin-left: 7px;
	margin-right: 7px;
	justify-content: botton;
}

.main {
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
	background-image: url("../Assets/cardboard.png");
	background-size: cover;
	background-repeat: repeat-y;
	padding: 5%;
	padding-top: 0;
	z-index: 0;
	align-items: center;
}

#messagebox {
	position: relative;
	width: 80vw;
	z-index: 1;
	text-align: center;
	margin-top: 4%;
}

.message {
	font-family: "Cardboard Cat", sans-serif;
}

#box1 {
	position: relative;
	width: 70vw;
	height: 25vw;
	z-index: 1;
	margin-top: 6%;
	margin-bottom: 1%;
}

#cardboardbox1 {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
	margin: 0;
	padding: 0;
}

#overlay1 {
	position: absolute;
	top: 0;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

/* second box on mobile version */
#box2, #cardboardbox2, #overlay2, #windows2, #surveybutton2 {
	display: none;
}

.downloadbutton, .surveybutton {
	width: 20vw;
	height: 10vw;
	padding: 2%;
	background-color: #AB7A52;
	color: #603913;
	border: hidden;
	font-family: "Cardboard Cat", serif;
	font-size: 3vw;
	border-radius: 8px;
	margin-left: 5%;
	margin-right: 5%;
}

#controls {
	justify-content: center;
	align-items: center;
	margin-bottom: 6%;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 55vw;
	text-align: center;
	margin-top: 10%;
}

table, th, td {
	border: 3px solid #603913;
	border-collapse: collapse;
	font-family: "Cardboard Cat", sans-serif;
}

th, td {
	padding: 1%;
}

#titlebox {
	position: relative;
	width: 100%;
	z-index: 1;
	text-align: left;
	margin-top: 4%;
	margin-left: 4vw;
}

#changelog {
	color: #754C29;
	font-family: "Grandstander", serif;
	font-size: 300%;
}

.textcontainer {
	position: relative;
	width: 100%;
	z-index: 1;
	text-align: left;
	margin-left: 4vw;
	font-size: 100%;
}

.version {
	color: #754C29;
	font-family: "Grandstander", serif;
	font-size: 200%;
}

.change {
	margin-left: 2%;
}

a {
	margin-top: 10%;
	font-family: "Cardboard Cat", sans-serif;
	font-size: 150%;
	color: #754C29;
	text-decoration: none;
}

#backtotop {
	margin-top: 2%;
}

#backtotop p, a {
	color: #ce282d;
	font-family: "Cafe Francoise", serif;
}

.footer {
	flex: 0 0 5%;
	background-image: url("../Assets/cardboardbottom.png");
}