/* grandstander, for header */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
/* cardboard cat */
@font-face {
    font-family: "Cardboard Cat";
    src: url("../Assets/cardboard_cat/CardboardCat-Bold.otf") format("opentype");
}
/* cafe francoise */
@font-face {
    font-family: "Cafe Francoise";
    src: url("../Assets/cafe_francoise/Cafe_Francoise_D.otf") format("opentype");
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

p {
	font-family: "Grandstander", serif;
	font-size: 1.8vw;
}

button:hover {
	cursor: pointer;
}

button:active {
	cursor: grab;
	transform: translateY(4px);
}

.header {
	flex: 0 0 10%;
	background-color: #754C29;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

#smalllogodiv {
	width: 75px;
	display: inline-block;
	text-align: center;
	align-content: center;
}

#smalllogo {
	height: 50px;
}

#headerbuttonsdiv {
	display: inline-block;
	justify-content: left;
	align-content: center;
}

.headerbuttons {
	font-family: "Grandstander", serif;
	font-size: 22px;
	color: white;
	background-color: #AB7A52;
	border-radius: 8px;
	border: hidden;
	width: 120px;
	height: 70%;
	padding-top: 1%;
	padding-bottom: 0.7%;
	margin-left: 7px;
	margin-right: 7px;
	justify-content: botton;
}

.main {
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../Assets/cardboard.png");
	background-size: cover;
	background-repeat: repeat-y;
	padding: 5%;
	padding-top: 3%;
	z-index: 0;
}

#top {
	position: relative;
	width: 100%;
	height: 75vh;
	z-index: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3%;
}

#logobox {
	position: relative;
	width: 55vw;
	align-content: center;
	z-index: 2;
}

#overlay {
	position: absolute;
	top: 0;
	z-index: 3;
	justify-content: center;
	align-content: center;
	width: 55vw;
	height: 24vw;
}

#logo {
	margin-top: 1%;
	width: 60%;
	margin-bottom: 0;
	z-index: 1;
}

#description {
	width: 80vw;
	margin-top: 1%;
	padding-top: 0;
	color: #603913;
	z-index: 1;
}

#teamsection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	justify-content: center;
}

.teamcard {
	justify-content: center;
	align-content: center;
	text-align: center;
	position: relative;
	width: 24%;
	z-index: 2;
	margin: .5%;
}

.card {
	width: 100%;
}

.cardoverlay {
	position: absolute;
	top: 0;
	width: 78%;
	height: 18vw;
	z-index: 3;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 3.5%;
	margin-top: 3vh;
	padding: 5%;
	padding-top: 10%;
	overflow: hidden;
}

.avatar {
	width: 40%;
	margin-bottom: 2%;
}

.name {
	font-family: "Cardboard Cat", serif;
	margin: 0;
	font-size: 1.5vw;
}

.title {
	font-family: "Cardboard Cat", serif;
	margin: 0;
	font-size: 1.2vw;
}

.blurb {
	font-size: 1vw;
	margin-left: 2%;
	margin-right: 2%;
}

#backtotop {
	margin-top: 2%;
}

#backtotop p, a {
	color: #ce282d;
	font-family: "Cafe Francoise", serif;
	text-decoration: none;
}

.footer {
	flex: 0 0 5%;
	background-image: url("../Assets/cardboardbottom.png");
}
