/* grandstander, for header */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
/* cardboard cat */
@font-face {
    font-family: "Cardboard Cat";
    src: url("../Assets/cardboard_cat/CardboardCat-Bold.otf") format("opentype");
}
/* cafe francoise */
@font-face {
    font-family: "Cafe Francoise";
    src: url("../Assets/cafe_francoise/Cafe_Francoise_D.otf") format("opentype");
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

p {
	font-family: "Grandstander", serif;
	font-size: 1.8vw;
}

button:hover {
	cursor: pointer;
}

button:active {
	cursor: grab;
	transform: translateY(4px);
}

#header {
	flex: 0 0 10%;
	background-color: #754C29;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

#menuButtonDiv {
	display: none;
}

#menu {
	display: none;
}

#smalllogodiv {
	width: 75px;
	display: inline-block;
	text-align: center;
	align-content: center;
}

#smalllogo {
	height: 50px;
}

#headerbuttonsdiv {
	display: inline-block;
	justify-content: left;
	align-content: center;
}

.headerbuttons {
	font-family: "Grandstander", serif;
	font-size: 22px;
	color: white;
	background-color: #AB7A52;
	border-radius: 8px;
	border: hidden;
	width: 120px;
	height: 50px;
	padding-top: 1%;
	padding-bottom: 0.7%;
	margin-left: 7px;
	margin-right: 7px;
	justify-content: bottom;
}

#main {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../Assets/cardboard.webp");
	background-size: cover;
	background-repeat: repeat-y;
	padding: 5%;
	padding-bottom: 10%;
	z-index: 0;
}

#top {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 100%;
	align-items: center;
}

#logowrapper {
	flex: 0 0 70%;
	width: 100%;
	text-align: center;
	justify-content: center;
}

#logo {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#description {
	flex: 0 0 30%;
	width: 80%;
	flex-wrap: wrap;
	color: #603913;
	padding-top: 1%;
	padding-bottom: 2%;
	text-align: center;
}

#teamsection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 0 0 73%;
	width: 100%;
	z-index: 1;
	justify-content: center;
}

.teamcard {
	justify-content: center;
	align-content: center;
	text-align: center;
	position: relative;
	width: 300px;
	z-index: 2;
	margin: .5%;
}

.card {
	width: 100%;
}

.cardoverlay {
	position: absolute;
	top: 0;
	width: 78%;
	height: 240px;
	z-index: 3;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 3.5%;
	margin-top: 3.8vh;
	padding: 5%;
	padding-top: 10%;
	overflow: hidden;
}

.avatar {
	width: 90px;
	margin-bottom: 2%;
}

.name {
	font-family: "Cardboard Cat", serif;
	margin: 0;
	font-size: 24px;
}

.title {
	font-family: "Cardboard Cat", serif;
	margin: 0;
	font-size: 16px;
}

.blurb {
	font-size: 12px;
	margin-left: 2%;
	margin-right: 2%;
	color:black;
}

a {
	margin-top:10px;
	color:black;
}

#backtotop {
	flex: 0 0 auto;
	padding-top: 5%;
}

#backtotop p, a {
	color: #ce282d;
	font-family: "Cafe Francoise", serif;
	text-decoration: none;
	font-size: 25px;
}

.footer {
	flex: 0 0 5%;
	background-image: url("../Assets/cardboardbottom.png");
}
